<div *ngIf="errorMessage" class="text-danger font-weight-bold message">
    {{errorMessage}}
  </div>
  
  <div *ngIf="usersRowData.length" class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-3">
          <h5 class="card-title">History</h5>
        </div>
        <div class="offset-3 col-2" style="position: relative;">
          <button type="button" class="btn btn-rounded btn-icon icon1 refreshButton" (click)="refresh()">
            <i class="mdi mdi-refresh refresh i"></i>
          </button>
        </div>
        <div class="col-4 mb-2">
          <input type="text" id="filter-text-box" 
          placeholder="Filter..." (input)="filter()"
          class="form-control"
        />
        </div>
      </div>
      <ag-grid-angular
      style="width: 100%; height: 400px"
      class="ag-theme-alpine"
      [rowData]="usersRowData"
      [columnDefs]="usersColumnDefs"
      [animateRows]="true"
      [pagination]="pagination"
      [paginationPageSize]="10"
      [defaultColDef]="defaultColDef"
      (gridReady)="onGridReady($event)"
      >
      </ag-grid-angular>
    </div>
  </div>

  <div class="modal fade" id="viewFeedback" tabindex="-1" role="dialog" aria-labelledby="viewFeedback" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header border-bottom-0">
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"> </button>
      </div>
        <div class="modal-body">
            <div *ngIf="feedback;else elseBlock" class="text-center">
              <div class="text-muted font-size-14">{{feedback}}</div>
              <div class="font-size-11 mt-2">
                <p-rating [(ngModel)]="rating" [readonly]="true" [cancel]="false"></p-rating>
              </div>
            </div>
            <ng-template #elseBlock>
                <div class="text-danger text-center font-weight-bold">No feedback given yet!</div>
            </ng-template>
      </div>
      </div>
    </div>
  </div>