.icon{
    width: 30px;
    height: 30px;
    position: relative;
}

.edit{
    position: absolute;
    left: 8px;
    bottom: 4px;
}

.refresh {
    cursor: pointer;
}

.refresh:hover {
    opacity: 0.5;
}

.refreshButton {
    color: #ffffff;
    background: #4E6AF2;
    border: 1px solid #4E6AF2;
    position: absolute;
    right: 0px;
}

.icon1 {
    width: 35px;
    height: 35px;
}

.i {
    position: relative;
    right: 2px;
    bottom: 1px;
}

.eye{
    color: #007BFF;
    cursor: pointer;
}

.eye:hover{
    opacity: 0.5;
}

.message{
    font-weight: bolder;
    text-align: center;
    position: fixed;
    font-size: 16px;
    top: 73%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

::ng-deep .p-rating .p-rating-icon.p-rating-icon-active {
    color: #ffc107;
}

.button-text{
    position: relative;
    bottom: 3px;
  }
  
  @media (max-width: 425px) {
    .button-container {
      display: none;
    }
  }
  
  @media (min-width: 426px) {
    .icon-container{
      display: none;
    }
  }
  
  .custom-class{
    z-index: 1051 !important;
    backdrop-filter: brightness(0.5);
    /* padding-right: 15px; */
  }