<div *ngIf="errorMessage" class="text-danger font-weight-bold message">
    {{errorMessage}}
</div>

<div *ngIf="successMessage" class="text-success font-weight-bold message">
  {{successMessage}}
</div>
  
  <div *ngIf="usersRowData.length" class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-3">
          <h5 class="card-title">Pending Commissions</h5>
        </div>
        <div class="offset-3 col-2" style="position: relative;">
          <button type="button" class="btn btn-rounded btn-icon icon1 refreshButton" (click)="refresh()">
            <i class="mdi mdi-refresh refresh i"></i>
          </button>
        </div>
        <div class="col-4 mb-2">
          <input type="text" id="filter-text-box" 
          placeholder="Filter..." (input)="filter()"
          class="form-control"
        />
        </div>
      </div>
      <ag-grid-angular
      style="width: 100%; height: 400px"
      class="ag-theme-alpine"
      [rowData]="usersRowData"
      [columnDefs]="usersColumnDefs"
      [animateRows]="true"
      [pagination]="pagination"
      [paginationPageSize]="10"
      [defaultColDef]="defaultColDef"
      (gridReady)="onGridReady($event)"
      >
      </ag-grid-angular>
    </div>
  </div>

<div class="modal fade" id="payNow" tabindex="-1" role="dialog" aria-labelledby="viewFeedback" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5>Pay Commission</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"> </button>
    </div>
      <div class="modal-body">
        <div class="mb-2"><span class="font-weight-bold">Total amount to be paid : </span><span class="text-success">{{(paymentData?.commission) | number: '1.0-0'}} ₹</span></div>
        <button class="btn btn-block btn-success" (click)="pay()">Pay Now</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="viewPay" tabindex="-1" role="dialog" aria-labelledby="viewFeedback" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5>Pay Commission</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"> </button>
    </div>
      <div class="modal-body">
        <div class="mb-2">
          <span class="font-weight-bold">Total amount to be paid : </span><span class="text-success font-weight-bold">{{paymentData?.commission | number: '1.0-0'}} ₹</span>
        </div>
        <div class="card-body mb-2">
          <div class="row">
            <div class="col-6">
              <h5 class="card-title">Pending Commissions</h5>
            </div>
            <div class="col-6 mb-2">
              <input type="text" id="filter-text-box1" 
              placeholder="Filter..." (input)="filter1()"
              class="form-control"
            />
            </div>
          </div>
          <ag-grid-angular
          style="width: 100%; height: 400px"
          class="ag-theme-alpine"
          [rowData]="paymentData?.data"
          [columnDefs]="payColumnDefs"
          [animateRows]="true"
          [pagination]="pagination"
          [paginationPageSize]="10"
          [defaultColDef]="defaultColDef"
          (gridReady)="onGridReady1($event)"
          >
          </ag-grid-angular>
        </div>
        <button class="btn btn-success" (click)="pay()">Pay Now</button>
      </div>
    </div>
  </div>
</div>