.icon {
    width: 30px;
    height: 30px;
    position: relative;
  }

  .edit {
    position: absolute;
    left: 8px;
    bottom: 4px;
  }

  input#session-date {
    display: inline-block;
    position: relative;
    padding-left: 30px;
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
  }
  
  .fa-calendar{
    position: relative;
    bottom: 26px;
    left: 10px;
  }

  .date{
    position: absolute;
    bottom: -4px;
  }