<div class="account-pages pt-sm-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card overflow-hidden">
          <div class="card-body">
            <h5 *ngIf="isCreating" class="card-title">Add Approver</h5>
            <h5 *ngIf="isUpdating" class="card-title">Edit Approver</h5>
            <div class="p-2">

              <form class="needs-validation" name="signupForm" [formGroup]="signupForm" (ngSubmit)="onSubmit()"
                novalidate>

                <div class="mb-3">
                  <label for="name" class="form-label">Name</label>

                  <input type="text" formControlName="name" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.name.errors }" id="name"
                    placeholder="Enter name" />

                  <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required">Name is required</div>
                  </div>

                  <div *ngIf="f.name.errors?.nameError && !f.name.errors?.required && f.name.dirty" class="required-message text-danger">
                    <small>{{f.name.errors.nameError.message}}</small>
                  </div>
                </div>

                <div class="mb-3">
                  <label for="email" class="form-label">Email</label>

                  <input type="email" formControlName="email" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }" id="email" placeholder="Email" />
                    <div *ngIf="f.email.errors?.required && f.email.dirty" class="required-message text-danger">
                      <small>Required Field!</small>
                    </div>
                    <div *ngIf="f.email.errors?.emailError && !f.email.errors?.required && f.email.dirty" class="required-message text-danger">
                      <small>{{f.email.errors.emailError.message}}</small>
                    </div>
                </div>

                <div class="mb-3">
                  <label for="phoneNo" class="form-label">Phone Number</label>

                  <input type="tel" formControlName="phoneNo" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.phoneNo.errors }" id="phoneNo" placeholder="Phone Number" />

                    <div *ngIf="f.phoneNo.errors?.required && f.phoneNo.dirty" class="required-message text-danger">
                      <small>Required Field!</small>
                    </div>
                    <div *ngIf="f.phoneNo.errors?.phoneError && !f.phoneNo.errors?.required && f.phoneNo.dirty" class="required-message text-danger">
                      <small>{{f.phoneNo.errors.phoneError.message}}</small>
                    </div>
                </div>

                <div class="mb-3">
                  <label for="title">Languages Known</label> <br>
                    <p-multiSelect [options]="languages" formControlName="language" optionLabel="name" optionValue="name" display="chip"></p-multiSelect>
                    <div *ngIf="submitted && f.language.errors" class="text-danger required-message">
                      <div *ngIf="f.language.errors.required"><small>Required field</small></div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="title">Skill Name</label> <br>
                      <p-multiSelect [options]="skillList" formControlName="skillName" optionLabel="name" optionValue="name" display="chip"></p-multiSelect>
                      <div *ngIf="submitted && f.skillName.errors" class="text-danger required-message">
                        <div *ngIf="f.skillName.errors.required"><small>Required field</small></div>
                      </div>
                </div>

                <div class="mt-4 d-grid">
                  <button *ngIf="isCreating" type="submit" name="update_brand" id="saveApprover" class="btn btn-success">Add Approver</button>
                  <button *ngIf="isUpdating" type="submit" name="update_brand" id="updateApprover" class="btn btn-success">Edit Approver</button>
                </div>
                <div class="mt-4 text-center">
                  <p *ngIf="successMessage" class="mb-0 text-success font-weight-bold">{{successMessage}}</p>
                  <p *ngIf="errorMessage" class="mb-0 text-danger font-weight-bold">{{errorMessage}}</p>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- end card -->

      </div> <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>