<div class="account-pages my-5 pt-sm-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card overflow-hidden">
          <div class="bg-soft bg-primary">
            <div class="row">
              <div class="col-7">
                <div class="text-primary p-4">
                  <h5 class="text-primary">Register</h5>
                  <p>Register yourself with Artlist now.</p>
                </div>
              </div>
              <div class="col-5 align-self-end">
                <img src="assets/images/profile-img.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="card-body pt-0">
            <div>
              <a routerLink="/">
                <div class="avatar-md profile-user-wid mb-4">
                  <span class="avatar-title rounded-circle bg-light">
                    <img src="assets/images/logo.svg" alt="" class="rounded-circle" height="34">
                  </span>
                </div>
              </a>
            </div>
            <div class="p-2">

              <form class="needs-validation" name="signupForm" [formGroup]="signupForm" (ngSubmit)="onSubmit()"
                novalidate>

                <div class="mb-3">
                  <label for="name" class="form-label">Name</label>

                  <input type="text" formControlName="name" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.name.errors }" id="name"
                    placeholder="Enter name" />

                  <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required">Name is required</div>
                  </div>

                  <div *ngIf="signupForm.controls.name.errors?.nameError && !signupForm.controls.name.errors?.required && signupForm.controls.name.dirty" class="required-message text-danger">
                    <small>{{signupForm.controls.name.errors.nameError.message}}</small>
                  </div>
                </div>

                <div class="mb-3">
                  <label for="email" class="form-label">Email</label>

                  <input type="email" formControlName="email" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }" id="email" placeholder="Email" />
                    <div *ngIf="signupForm.controls.email.errors?.required && signupForm.controls.email.dirty" class="required-message text-danger">
                      <small>Required Field!</small>
                    </div>
                    <div *ngIf="signupForm.controls.email.errors?.emailError && !signupForm.controls.email.errors?.required && signupForm.controls.email.dirty" class="required-message text-danger">
                      <small>{{signupForm.controls.email.errors.emailError.message}}</small>
                    </div>
                </div>

                <div class="mb-3">
                  <label for="phoneNo" class="form-label">Phone Number</label>

                  <input type="tel" formControlName="phoneNo" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.phoneNo.errors }" id="phoneNo" placeholder="Phone Number" />

                    <div *ngIf="signupForm.controls.phoneNo.errors?.required && signupForm.controls.phoneNo.dirty" class="required-message text-danger">
                      <small>Required Field!</small>
                    </div>
                    <div *ngIf="signupForm.controls.phoneNo.errors?.phoneError && !signupForm.controls.phoneNo.errors?.required && signupForm.controls.phoneNo.dirty" class="required-message text-danger">
                      <small>{{signupForm.controls.phoneNo.errors.phoneError.message}}</small>
                    </div>
                </div>

                <div class="mt-4 d-grid">
                  <button class="btn btn-primary" type="submit">Register</button>
                </div>
                <div class="mt-4 text-center">
                  <p class="mb-0">By registering you agree to the Artlist 
                    <a class="text-primary">Terms of
                      Use</a></p>
                </div>
                <div class="mt-4 text-center">
                  <p *ngIf="successMessage" class="mb-0 text-success font-weight-bold">{{successMessage}}</p>
                  <p *ngIf="errorMessage" class="mb-0 text-danger font-weight-bold">{{errorMessage}}</p>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- end card -->

        <div class="mt-5 text-center">
          <p>Back to <a routerLink="/account/login" class="fw-medium text-primary"> Login</a>
          </p>
          <!-- <p>© {{year}} Artlist.</p> -->
        </div>
      </div> <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>

<div class="modal fade" id="invalidRoleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle" style="color: #f46a6a;">Invalid Role</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"> </button>
      </div>
      <div class="modal-body">
        <button class="btn btn-primary btn-block mb-2" (click)="navigateUser()">Signup as User</button> <br>
        <button class="btn btn-primary btn-block" (click)="navigateArtist()">Signup as Artist</button>
      </div>
    </div>
  </div>
</div>