<div *ngIf="errorMessage" class="text-danger font-weight-bold message">
    {{errorMessage}}
  </div>
  
  <div *ngIf="usersRowData.length" class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-3">
          <h5 class="card-title">History</h5>
        </div>
        <div class="offset-3 col-2" style="position: relative;">
          <button type="button" class="btn btn-rounded btn-icon icon1 refreshButton" (click)="refresh()">
            <i class="mdi mdi-refresh refresh i"></i>
          </button>
        </div>
        <div class="col-4 mb-2">
          <input type="text" id="filter-text-box" 
          placeholder="Filter..." (input)="filter()"
          class="form-control"
        />
        </div>
      </div>
      <ag-grid-angular
      style="width: 100%; height: 400px"
      class="ag-theme-alpine"
      [rowSelection]="rowSelection"
      [suppressRowClickSelection]="true"
      [singleClickEdit]="true"
      [rowData]="usersRowData"
      [columnDefs]="usersColumnDefs"
      [animateRows]="true"
      [pagination]="pagination"
      [paginationPageSize]="10"
      [defaultColDef]="defaultColDef"
      (gridReady)="onGridReady($event)"
      (cellValueChanged)="onRowValueChanged($event)"
      >
      </ag-grid-angular>
    </div>
  </div>

  <div class="modal fade" id="giveFeedback" tabindex="-1" role="dialog" aria-labelledby="giveFeedback" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header border-bottom-0">
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"> </button>
      </div>
        <div class="modal-body">
            <form [formGroup]="feedbackForm" (ngSubmit)="submitFeedback()">
                <div class="mb-3">
                    <label for="feedback"><h5>Submit Feedback</h5></label>
                    <textarea id="feedback" formControlName="feedback" class="form-control"></textarea>
                      <div *ngIf="feedbackForm.controls.feedback.errors?.required && feedbackForm.controls.feedback.dirty" class="required-message text-danger">
                        <small>Required Field!</small>
                      </div>
                  </div>
                  <div class="mt-3 d-grid">
                    <button class="btn btn-success" type="submit">Submit</button>
                  </div>
            </form>
      </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="noFeedback" tabindex="-1" role="dialog" aria-labelledby="noFeedback" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header border-bottom-0">
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"> </button>
      </div>
        <div class="modal-body">
            <div class="text-danger text-center font-weight-bold">Feedback cannot be provided for incomplete or future events.</div>
      </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="approve" tabindex="-1" role="dialog" aria-labelledby="viewFeedback" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header border-bottom-0">
          <h5>Approve Event</h5>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"> </button>
      </div>
        <div class="modal-body">
          <button class="btn btn-block btn-success" (click)="changeStatus('approve')">Approve</button>
      </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="reject" tabindex="-1" role="dialog" aria-labelledby="viewFeedback" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header border-bottom-0">
          <h5>Reject Event</h5>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"> </button>
      </div>
        <div class="modal-body">
          <form [formGroup]="rejectionForm" (ngSubmit)="changeStatus('reject')">
            <div class="mb-3">
                <label for="remarks"><h5>Remarks</h5></label>
                <textarea id="remarks" formControlName="remarks" class="form-control"></textarea>
                  <div *ngIf="rejectionForm.controls.remarks.errors?.required && rejectionForm.controls.remarks.dirty" class="required-message text-danger">
                    <small>Required Field!</small>
                  </div>
              </div>
              <div class="mt-3 d-grid">
                <button type="submit" class="btn btn-block btn-danger">Reject</button>
              </div>
        </form>
      </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="reschedule" tabindex="-1" role="dialog" aria-labelledby="viewFeedback" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header border-bottom-0">
          <h5>Reschedule Event</h5>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"> </button>
        </div>
        <div class="modal-body">
          <div class="account-pages">
            <div class="container">
              <div class="p-2">
                <form class="form-horizontal" [formGroup]="bookingForm" (ngSubmit)="reschedule()">

                  <div class="mb-3">
                    <label for="password">Select Booking Type</label>
                    <div class="input-group auth-pass-inputgroup">
                        <select id="role" class="form-control" formControlName="type" (change)="addField()">
                          <option value="" disabled selected>--select booking type--</option>
                          <option value="hourly">Hourly</option>
                          <option value="fullDay">Full Day</option>
                          <option value="event">Event</option>
                        </select>
                      </div>
                      <div *ngIf="f.type.errors?.required && f.type.dirty" class="text-danger">
                        <small>Required Field!</small>
                       </div>
                    </div>

                      <div *ngIf="bookingForm.value.type == 'fullDay'" class="timeSlots">
                        <button type="button" *ngFor="let date of availableData?.fullDay; let i = index" class="btn date-button"
                        (click)="buttonFullDay(date,$event)" [id]="'btn'+ i">{{date | date : 'mediumDate'}}</button>
                      </div>

                      <div *ngIf="bookingForm.value.type == 'event'">
                        <div *ngFor="let slot of availableData?.event;let i = index">
                          <div class="font-weight-bold">{{slot.date | date : 'mediumDate'}}</div>
                          <div class="timeSlots">
                            <button type="button" *ngFor="let date of slot.slots; let j = index" class="btn date-button"
                              (click)="buttonEvent(j,slot.date,$event)" [id]="'btn'+ i + j">{{date | event}}</button>
                          </div>
                        </div>
                      </div>
                      <div *ngIf="bookingForm.value.type == 'hourly'" class="mb-3">
                        <label for="date">Date</label> <br>
                        <p-calendar [minDate]="minDate" formControlName="date" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}" [readonlyInput]="true"></p-calendar>
                        <!-- <input type="date" formControlName="date" class="form-control" id="date"/> -->
                          <div *ngIf="f.date.errors?.required && f.date.dirty" class="required-message text-danger">
                            <small>Required Field!</small>
                          </div>
                      </div>
                      <div *ngIf="f.date.errors?.required && f.date.dirty && (bookingForm.value.type == 'fullDay' || bookingForm.value.type == 'event')" class="required-message text-danger">
                        <small>Date is required</small>
                      </div>
                      <div *ngIf="showFrom" class="form-row">
                        <div class="form-group col-md-6">
                            <div class="mb-3">
                                <label for="from">From</label>
                                <input type="time" formControlName="from" step="3600" (change)="calPrice()" class="form-control" id="from"/>
                                  <div *ngIf="f.from?.errors?.required && f.from?.dirty" class="required-message text-danger">
                                    <small>Required Field!</small>
                                  </div>
                            </div>
                        </div>
                  
                        <div class="form-group col-md-6" style="position: relative;">
                            <div class="mb-3">
                                <label for="to">To</label>
                                <input type="time" formControlName="to" step="3600" (change)="calPrice()" class="form-control" id="to"/>
                                  <div *ngIf="f.to?.errors?.required && f.to?.dirty" class="required-message text-danger">
                                    <small>Required Field!</small>
                                  </div>
                            </div>
                        </div>
                      </div>
                      <div>
                        <button *ngIf="!checkAvailability && showFrom" class="btn btn-primary mb-2" (click)="checkAvailability = !checkAvailability">Check availability</button>
                        <button *ngIf="checkAvailability && showFrom" class="btn btn-danger mb-2" (click)="checkAvailability = !checkAvailability">Hide availability</button>
                      </div>
                      <div *ngIf="bookingForm.value.type == 'hourly' && showFrom && checkAvailability">
                        <div *ngFor="let slot of availableData.hourly;let i = index">
                          <div class="font-weight-bold">{{slot.date | date : 'mediumDate'}}</div>
                          <div class="timeSlots">
                            <button type="button" *ngFor="let date of slot.availableSlots; let j = index" class="btn date-button"
                              [id]="'btn'+ i + j">{{date}}</button>
                          </div>
                        </div>
                      </div>
                      <div *ngIf="bookingForm.value.type" class="font-weight-bold price-text">Price : <span class="text-success">{{price}} ₹</span></div>
                  <div class="mt-3 d-grid">
                    <button class="btn btn-success" type="submit">Reschedule</button>
                  </div>
                </form>
              </div>
            </div>
          
            <!-- end container -->
          </div>
        </div>
      </div>
    </div>
  </div>