<div *ngIf="errorMessage" class="text-danger font-weight-bold message">
    {{errorMessage}}
  </div>

<div *ngIf="usersRowData.length" class="form-check form-switch form-switch-lg mb-3 d-flex justify-content-end">
    <input type="checkbox" id="check" checked="" class="form-check-input" (change)="change()">
    <label  for="check" class="form-check-label">Card View</label>
</div>

<div *ngIf="showTable">
  <div *ngIf="usersRowData.length" class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-3">
          <h5 class="card-title">History</h5>
        </div>
        <div class="offset-3 col-2" style="position: relative;">
          <button type="button" class="btn btn-rounded btn-icon icon1 refreshButton" (click)="refresh()">
            <i class="mdi mdi-refresh refresh i"></i>
          </button>
        </div>
        <div class="col-4 mb-2">
          <input type="text" id="filter-text-box" 
          placeholder="Filter..." (input)="filter()"
          class="form-control"
        />
        </div>
      </div>
      <ag-grid-angular
      style="width: 100%; height: 400px"
      class="ag-theme-alpine"
      [rowSelection]="rowSelection"
      [suppressRowClickSelection]="true"
      [singleClickEdit]="true"
      [rowData]="usersRowData"
      [columnDefs]="usersColumnDefs"
      [animateRows]="true"
      [pagination]="pagination"
      [paginationPageSize]="10"
      [defaultColDef]="defaultColDef"
      (gridReady)="onGridReady($event)"
      (cellValueChanged)="onRowValueChanged($event)"
      >
      </ag-grid-angular>
    </div>
  </div>

  <div>
    <button class="btn btn-success" (click)="updateMultipleStatus()">Save Status</button>
  </div>
</div>

<div *ngIf="!showTable">
  <div class="row">
    <form [formGroup]="filterForm" (ngSubmit)="filterCard()">
      <div class="col-lg-12">
        <div class="card job-filter">
          <div class="card-body p-3">
            <div class="row g-3">
              <div class="col-xxl-4 col-lg-4">
                <div class="position-relative">
                  <input type="text" id="searchJob" placeholder="Search By Name" class="form-control" formControlName="name"></div>
              </div>
              <div class="col-xxl-2 col-lg-4">
                <div class="position-relative"><input type="text" id="jobCategories"
                    placeholder="Search status" class="form-control" formControlName="status"></div>
              </div>
              <div class="col-xxl-2 col-lg-4">
                <div class="position-relative">
                  <div id="datepicker1"><input type="text" placeholder="Skill Name" class="form-control" formControlName="skillName">
                  </div>
                </div>
              </div>
              <div class="col-xxl-2 col-lg-4">
                <div class="position-relative">
                  <!-- <input type="date" id="date" placeholder="Search by Date" class="form-control" formControlName="date"> -->
                  <p-calendar placeholder="Search by Date" formControlName="date" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}" [readonlyInput]="true"></p-calendar>
                </div>
              </div>
              <div class="col-xxl-2 col-lg-8">
                <div class="position-relative h-100 hstack gap-3 button-container">
                  <button type="button" class="btn btn-danger h-100 w-100" (click)="clear()">
                    <i class="mdi mdi-close align-middle" style="font-size:18px;"></i>Clear Filter
                  </button>
                  <button type="submit" class="btn btn-primary h-100 w-100">
                    <i class="bx bx-search-alt align-middle"></i> Filter
                  </button>
                  <a (click)="showAdvance = !showAdvance" class="btn btn-secondary h-100 w-100">
                    <i class="bx bx-filter-alt align-middle"></i> Advance
                  </a>
                </div>
                <div class="position-relative h-100 hstack gap-3 icon-container">
                  <button type="button" class="btn btn-danger h-100 w-100" pTooltip="Clear Filter" tooltipPosition="top" (click)="clear()">
                    <i class="mdi mdi-close align-middle" style="font-size:18px;"></i>
                  </button>
                  <button type="submit" pTooltip="Apply Filter" tooltipPosition="top" class="btn btn-primary h-100 w-100">
                    <i class="bx bx-search-alt align-middle"></i>
                  </button>
                  <a (click)="showAdvance = !showAdvance" class="btn btn-secondary h-100 w-100">
                    <i class="bx bx-filter-alt align-middle"></i> Advance
                  </a>
                </div>
              </div>
              <div *ngIf="showAdvance" id="collapseExample" class="collapse in show" aria-hidden="false" style="display: block;">
                <div class="pt-4">
                  <div class="row g-3">
                    <div class="col-xxl-4 col-lg-12">
                      <div class="position-relative"><label for="RatingInput"
                          class="form-label">Rating</label><input type="number" id="RatingInput"
                          placeholder="Rating" class="form-control" formControlName="rating"><i
                          class="ri-government-line filter-icon"></i></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="row">
    <div *ngFor='let history of displayData' class="col-xl-4 col-sm-6">
      <div class="card">
        <div class="card-body">
          <div class="media">
            <div class="avatar-md me-2">
              <span class="avatar-title rounded-circle bg-light text-danger font-size-16">
                <img class="rounded-circle" src="assets/images/user.png" alt height="65" />
              </span>
            </div>

            <div class="media-body pl-2 pb-2 overflow-hidden">
              <h5 class="text-truncate font-size-15">
                <a class="text-dark">{{history.candName}}</a>
              </h5>
              <div class="text-muted">{{history.name}}</div>
              <div class="text-muted">{{history.date | date : 'mediumDate'}}</div>
              <div class="text-muted">
                <span class="badge" [ngClass]="{
                  'badge-soft-warning': ['pending', 'rescheduled'].includes(history.status),
                  'badge-soft-danger': ['r', 'artist not attended', 'cancelled'].includes(history.status),
                  'badge-soft-success': history.status === 'c',
                  'badge-soft-info': history.status === 'a'}"
                  style="font-size:12px;">{{history.status | status}}</span>
              </div>
              <div *ngIf="history.rating;else noRating" class="badge bg-success font-size-11 mt-2"><i class="bx bxs-star me-1"></i>{{history.rating}}</div>
              <ng-template #noRating>
                <div class="text-danger">No rating given yet</div>
              </ng-template>
              <div class="mt-2">
                <a href="tel:{{history.phoneNo}}" [pTooltip]="history.phoneNo" tooltipPosition="top">
                  <button class="btn btn-success btn-rounded btn-icon icon">
                  <i class="mdi mdi-phone edit"></i>
                  </button>
                  </a> &nbsp;
                  <a href="mailto:{{history.email}}" [pTooltip]="history.email" tooltipPosition="top">
                  <button class="btn btn-info btn-rounded btn-icon icon">
                  <i class="mdi mdi-email edit"></i>
                  </button>
                  </a> &nbsp;
                  <button class="btn btn-primary" style="height: 30px;" (click)="openDataView(history)"><span class="button-text">view</span></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
  <div *ngIf="!errorMessage" class="card flex justify-content-center">
    <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="totalRecords" [rowsPerPageOptions]="[10, 20, 30]"></p-paginator>
  </div>
</div>

  <div class="modal fade" id="giveFeedback" tabindex="-1" role="dialog" aria-labelledby="giveFeedback" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header border-bottom-0">
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"> </button>
      </div>
        <div class="modal-body">
            <form [formGroup]="feedbackForm" (ngSubmit)="submitFeedback()">
                <div class="mb-3">
                    <label for="feedback"><h5>Submit Feedback</h5></label>
                    <textarea id="feedback" formControlName="feedback" class="form-control"></textarea>
                      <div *ngIf="feedbackForm.controls.feedback.errors?.required && feedbackForm.controls.feedback.dirty" class="required-message text-danger">
                        <small>Required Field!</small>
                      </div>
                  </div>
                  <div class="mb-3">
                    <label for="rating">Rating</label> <br>
                    <p-rating formControlName="rating"></p-rating>
                      <div *ngIf="feedbackForm.controls.rating.errors?.required && feedbackForm.controls.rating.dirty" class="required-message text-danger">
                        <small>Required Field!</small>
                      </div>
                  </div>
                  <div class="mt-3 d-grid">
                    <button class="btn btn-success" type="submit">Submit</button>
                  </div>
            </form>
      </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="noFeedback" tabindex="-1" role="dialog" aria-labelledby="noFeedback" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header border-bottom-0">
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"> </button>
      </div>
        <div class="modal-body">
            <div class="text-danger text-center font-weight-bold">Feedback cannot be provided for incomplete or future events.</div>
      </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="approve" tabindex="-1" role="dialog" aria-labelledby="viewFeedback" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header border-bottom-0">
          <h5>Approve Event</h5>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"> </button>
      </div>
        <div class="modal-body">
          <button class="btn btn-block btn-success" (click)="changeStatus('approve')">Approve</button>
      </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="reject" tabindex="-1" role="dialog" aria-labelledby="viewFeedback" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header border-bottom-0">
          <h5>Reject Event</h5>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"> </button>
      </div>
        <div class="modal-body">
          <form [formGroup]="rejectionForm" (ngSubmit)="changeStatus('reject')">
            <div class="mb-3">
                <label for="remarks"><h5>Remarks</h5></label>
                <textarea id="remarks" formControlName="remarks" class="form-control"></textarea>
                  <div *ngIf="rejectionForm.controls.remarks.errors?.required && rejectionForm.controls.remarks.dirty" class="required-message text-danger">
                    <small>Required Field!</small>
                  </div>
              </div>
              <div class="mt-3 d-grid">
                <button type="submit" class="btn btn-block btn-danger">Reject</button>
              </div>
        </form>
      </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="reschedule" tabindex="-1" role="dialog" aria-labelledby="viewFeedback" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header border-bottom-0">
          <h5>Reschedule Event</h5>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"> </button>
        </div>
        <div class="modal-body">
          <div class="account-pages">
            <div class="container">
              <div class="p-2">
                <form class="form-horizontal" [formGroup]="bookingForm" (ngSubmit)="reschedule()">

                  <div class="mb-3">
                    <label for="password">Select Event Type</label>
                    <div class="input-group auth-pass-inputgroup">
                        <select id="role" class="form-control" formControlName="bookingType" (change)="addAddress()">
                          <option value="" disabled selected>--select event type--</option>
                          <option value="online">Online</option>
                          <option value="onsite">On-Site</option>
                        </select>
                      </div>
                      <div *ngIf="f.type.errors?.required && f.type.dirty" class="text-danger">
                        <small>Required Field!</small>
                       </div>
                    </div>

                    <div *ngIf="bookingForm.get('bookingType')?.value === 'onsite'" class="mb-3">
                      <label for="address" class="form-label">Address</label>
    
                      <input type="text" formControlName="address" class="form-control"
                        [ngClass]="f.address.errors" id="address"
                        placeholder="Address" />
    
                      <div *ngIf="f.address.errors" class="invalid-feedback">
                        <div *ngIf="f.address.errors.required">Address is required</div>
                      </div>
                    </div>
    
                    <div *ngIf="bookingForm.get('bookingType')?.value === 'onsite'" class="mb-3">
                      <label for="mandal" class="form-label">Mandal</label>
    
                      <input type="text" formControlName="mandal" class="form-control"
                        [ngClass]="f.mandal.errors" id="mandal"
                        placeholder="Mandal" />
    
                      <div *ngIf="f.mandal.errors" class="invalid-feedback">
                        <div *ngIf="f.mandal.errors.required">Mandal is required</div>
                      </div>
                    </div>
    
                    <div *ngIf="bookingForm.get('bookingType')?.value === 'onsite'" class="mb-3">
                      <label for="district" class="form-label">District</label>
    
                      <input type="text" formControlName="district" class="form-control"
                        [ngClass]="f.district.errors" id="district"
                        placeholder="District" />
    
                      <div *ngIf="f.district.errors" class="invalid-feedback">
                        <div *ngIf="f.district.errors.required">District is required</div>
                      </div>
                    </div>
    
                    <div *ngIf="bookingForm.get('bookingType')?.value === 'onsite'" class="mb-3">
                      <label for="state" class="form-label">State</label>
    
                      <select name="state" id="state" formControlName="state" class="form-control"
                      [ngClass]="f.state.errors">
                        <option value="0" disabled selected>--select state--</option>
                        <option *ngFor="let state of states" [value]="state">{{state}}</option>
                      </select>
    
                      <div *ngIf="f.state.errors" class="invalid-feedback">
                        <div *ngIf="f.state.errors.required">State is required</div>
                      </div>
                    </div>
    
                    <div *ngIf="bookingForm.get('bookingType')?.value === 'onsite'" class="mb-3">
                      <label for="pincode" class="form-label">Pincode</label>
    
                      <input type="number" formControlName="pincode" class="form-control"
                        [ngClass]="f.pincode.errors" id="pincode"
                        placeholder="Pincode" />
    
                      <div *ngIf="f.pincode.errors" class="invalid-feedback">
                        <div *ngIf="f.pincode.errors.required">Pincode is required</div>
                      </div>
                    </div>

                  <div class="mb-3">
                    <label for="password">Select Booking Type</label>
                    <div class="input-group auth-pass-inputgroup">
                        <select id="role" class="form-control" formControlName="type" (change)="addField()">
                          <option value="" disabled selected>--select booking type--</option>
                          <option value="hourly">Hourly</option>
                          <option value="fullDay">Full Day</option>
                          <option value="event">Event</option>
                        </select>
                      </div>
                      <div *ngIf="f.type.errors?.required && f.type.dirty" class="text-danger">
                        <small>Required Field!</small>
                       </div>
                    </div>

                      <div *ngIf="bookingForm.value.type == 'fullDay'" class="timeSlots">
                        <button type="button" *ngFor="let date of availableData?.fullDay; let i = index" class="btn date-button"
                        (click)="buttonFullDay(date,$event)" [id]="'btn'+ i">{{date | date : 'mediumDate'}}</button>
                      </div>

                      <div *ngIf="bookingForm.value.type == 'event'">
                        <div *ngFor="let slot of availableData?.event;let i = index">
                          <div class="font-weight-bold">{{slot.date | date : 'mediumDate'}}</div>
                          <div class="timeSlots">
                            <button type="button" *ngFor="let date of slot.slots; let j = index" class="btn date-button"
                              (click)="buttonEvent(j,slot.date,$event)" [id]="'btn'+ i + j">{{date | event}}</button>
                          </div>
                        </div>
                      </div>
                      <div *ngIf="bookingForm.value.type == 'hourly'" class="mb-3">
                        <label for="date">Date</label> <br>
                        <p-calendar [minDate]="minDate" formControlName="date" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}" [readonlyInput]="true"></p-calendar>
                        <!-- <input type="date" formControlName="date" class="form-control" id="date"/> -->
                          <div *ngIf="f.date.errors?.required && f.date.dirty" class="required-message text-danger">
                            <small>Required Field!</small>
                          </div>
                      </div>
                      <div *ngIf="f.date.errors?.required && f.date.dirty && (bookingForm.value.type == 'fullDay' || bookingForm.value.type == 'event')" class="required-message text-danger">
                        <small>Date is required</small>
                      </div>
                      <div *ngIf="showFrom" class="form-row">
                        <div class="form-group col-md-6">
                            <div class="mb-3">
                                <label for="from">From</label>
                                <input type="time" formControlName="from" step="3600" (change)="calPrice()" class="form-control" id="from"/>
                                  <div *ngIf="f.from?.errors?.required && f.from?.dirty" class="required-message text-danger">
                                    <small>Required Field!</small>
                                  </div>
                            </div>
                        </div>
                  
                        <div class="form-group col-md-6" style="position: relative;">
                            <div class="mb-3">
                                <label for="to">To</label>
                                <input type="time" formControlName="to" step="3600" (change)="calPrice()" class="form-control" id="to"/>
                                  <div *ngIf="f.to?.errors?.required && f.to?.dirty" class="required-message text-danger">
                                    <small>Required Field!</small>
                                  </div>
                            </div>
                        </div>
                      </div>
                      <div>
                        <button *ngIf="!checkAvailability && showFrom" class="btn btn-primary mb-2" (click)="checkAvailability = !checkAvailability">Check availability</button>
                        <button *ngIf="checkAvailability && showFrom" class="btn btn-danger mb-2" (click)="checkAvailability = !checkAvailability">Hide availability</button>
                      </div>
                      <div *ngIf="bookingForm.value.type == 'hourly' && showFrom && checkAvailability">
                        <div *ngFor="let slot of availableData.hourly;let i = index">
                          <div class="font-weight-bold">{{slot.date | date : 'mediumDate'}}</div>
                          <div class="timeSlots">
                            <button type="button" *ngFor="let date of slot.availableSlots; let j = index" class="btn date-button"
                              [id]="'btn'+ i + j">{{date}}</button>
                          </div>
                        </div>
                      </div>
                      <div *ngIf="bookingForm.value.type && !eventData?.paid" class="form-row">
                        <div class="form-check form-group col-md-6" style="padding-left: 25px;">
                          <input name="formRadio" class="form-check-input" id="payNow" checked type="radio" (click)="updatePay('paynow')">
                          <label for="payNow" class="form-check-label">Pay Now</label>
                        </div>
                        <div class="form-check form-group col-md-6" style="padding-left: 25px;">
                          <input name="formRadio" class="form-check-input" id="payLater" type="radio" (click)="updatePay('paylater')">
                          <label for="payLater" class="form-check-label">Pay Later</label>
                        </div>
                      </div>
                      <div *ngIf="bookingForm.value.type && eventData.paid" class="font-weight-bold mt-3">Amount Paid : <span class="text-success">{{eventData.price}} ₹</span></div>                     
                      <div class="d-flex mt-2">
                        <div *ngIf="bookingForm.value.type" class="font-weight-bold price-text">Price : <span class="text-success">{{price}} ₹</span></div>
                        <div *ngIf="bookingForm.value.type && arrear>=0 && eventData.paid;else elseBlock" class="font-weight-bold price-text ml-auto">Arrears : <span class="text-success">{{arrear}} ₹</span></div>
                        <ng-template #elseBlock>
                          <div *ngIf="bookingForm.value.type && eventData.paid" class="font-weight-bold price-text ml-auto">Arrears : <span class="text-danger">{{arrear}} ₹</span></div>
                      </ng-template>
                      </div>
                      <div *ngIf="arrear>0" class="text-grey">
                        You will receive amount of <span class="text-success">{{arrear}} ₹</span> in your wallet
                      </div>
                  <div *ngIf="!eventData?.paid" class="mt-3 d-grid">
                    <button *ngIf="payNow" class="btn btn-success" type="submit">Pay and Reschedule</button>
                    <button *ngIf="!payNow" class="btn btn-primary" type="submit">Reschedule</button>
                  </div>
                  <div *ngIf="eventData?.paid" class="mt-3 d-grid">
                    <button *ngIf="arrear >= 0;else elseBlock1" class="btn btn-primary" type="submit">Reschedule</button>
                    <ng-template #elseBlock1>
                      <button class="btn btn-success" type="submit">Pay {{arrear*-1}} and Reschedule</button>
                    </ng-template>
                  </div>
                </form>
              </div>
            </div>
          
            <!-- end container -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="refund" tabindex="-1" role="dialog" aria-labelledby="viewFeedback" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header border-bottom-0">
          <h5>Request Refund</h5>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"> </button>
      </div>
        <div class="modal-body">
          <form [formGroup]="refundForm" (ngSubmit)="refund()">
            <div class="mb-3">
                <label for="refundReason"><h5>Refund Reason</h5></label>
                <textarea id="refundReason" formControlName="refundReason" class="form-control"></textarea>
                  <div *ngIf="refundForm.controls.refundReason.errors?.required && refundForm.controls.refundReason.dirty" class="required-message text-danger">
                    <small>Required Field!</small>
                  </div>
              </div>
              <div class="mt-3 d-grid">
                <button type="submit" class="btn btn-block btn-danger">Refund</button>
              </div>
        </form>
      </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="dataView" tabindex="-1" role="dialog" aria-labelledby="viewFeedback" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header border-bottom-0">
          <h5>Event Data</h5>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"> </button>
      </div>
        <div class="modal-body">
      </div>
      </div>
    </div>
  </div>