.button-container {
    display: flex; /* Use flexbox layout */
    justify-content: center;
    align-items: center;
  }
  
  .button-container button {
    margin-right: 10px; /* Add some space between buttons */
  }

  .price-text{
    font-size: 22px;
  }

  @media (max-width: 375px) {
    .button-container {
      display: none;
    }
    .price-text{
      font-size: 18px;
    }
    ::ng-deep .p-speeddial-action{
      width: 2.5rem;
      height: 2.5rem;
    }
  }

  @media (max-width: 768px) {
    .button-container {
      display: none;
    }
    .price-text{
      font-size: 18px;
    }
  }

  @media (min-width: 769px) {
    ::ng-deep p-speedDial{
      display: none;
    }
  }

  ::ng-deep p-speedDial{
    position: relative;
    bottom: 10px;
  }

  ::ng-deep.p-speeddial-button{
    width: 3rem !important;
    height: 3rem !important;
}

::ng-deep .p-speeddial-action-icon{
  font-size: 20px;
}

::ng-deep .p-multiselect .p-multiselect-trigger{
  position: absolute;
  right: 0px;
  bottom: 15px;
}

::ng-deep .p-multiselect{
  display: block !important;
}

@media (min-width: 320px) {
  ::ng-deep .p-overlay{
      width: 225px !important;
  }
}

@media (min-width: 375px) {
  ::ng-deep .p-overlay{
      width: 225px !important;
  }
}

@media (min-width: 425px) {
  ::ng-deep .p-overlay{
      width: 333px !important;
  }
}

table.table {
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 10px;
}
table.table thead th:first-child {
  border-radius: 10px 0 0 0;
}
table.table thead th:last-child {
  border-radius: 0 10px 0 0;
}
table.table tbody tr:last-child td:first-child {
  border-radius: 0 0 0 10px;
}
table.table tbody tr:last-child td:last-child {
  border-radius: 0 0 10px 0;
}