<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#20b04b" type="ball-clip-rotate"></ngx-spinner>
<div class="account-pages my-5 pt-sm-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card overflow-hidden">
          <div class="bg-soft bg-primary">
            <div class="row">
              <div class="col-7">
                <div class="text-primary p-4">
                  <h5 class="text-primary"> Reset Password</h5>
                  <p>Re-Password with Artlist.</p>
                </div>
              </div>
              <div class="col-5 align-self-end">
                <img src="assets/images/profile-img.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="card-body pt-0">
            <div>
              <a routerLink="/">
                <div class="avatar-md profile-user-wid mb-4">
                  <span class="avatar-title rounded-circle bg-light">
                    <img src="assets/images/logo.svg" alt="" class="rounded-circle" height="34">
                  </span>
                </div>
              </a>
            </div>

            <form class="needs-validation" name="resetForm" [formGroup]="resetForm" (ngSubmit)="onSubmit()" novalidate>

              <ngb-alert type="danger" *ngIf="error" [dismissible]="false">{{ error }}</ngb-alert>

              <div class="mb-3">
                <label for="email">Email</label>

                <input type="email" formControlName="email" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.email.errors }" id="email" placeholder="Email" />

                  <div *ngIf="resetForm.controls.email.errors?.required && resetForm.controls.email.dirty" class="required-message text-danger">
                    <small>Required Field!</small>
                  </div>
                  <div *ngIf="resetForm.controls.email.errors?.emailError && !resetForm.controls.email.errors?.required && resetForm.controls.email.dirty" class="required-message text-danger">
                    <small>{{resetForm.controls.email.errors.emailError.message}}</small>
                  </div>
              </div>
              <div class="mb-3">
                <label for="password">Role</label>
                <div class="input-group auth-pass-inputgroup">
                    <select id="role" class="form-control" formControlName="role" [ngClass]="{ 'is-invalid': submitted && f.role.errors }">
                      <option value="" disabled selected>--select role--</option>
                      <option value="artist">Artist</option>
                      <option value="user">User</option>
                    </select>
                  </div>
                  <div *ngIf="f.role.errors?.required && f.role.dirty" class="text-danger">
                    <small>Required Field!</small>
                   </div>
                </div>
              <div class="text-end">
                <button class="btn btn-primary w-md" type="submit">Reset</button>
              </div>
              <div class="mt-4 text-center">
                <p *ngIf="successMessage" class="mb-0 text-success message">{{successMessage}}</p>
                <p *ngIf="errorMessage" class="mb-0 text-danger message">{{errorMessage}}</p>
              </div>
            </form>

          </div> <!-- end card-body-->
        </div>
        <!-- end card -->
        <div class="mt-5 text-center">
          <p>Remember It ? <a routerLink="/account/login" class="fw-medium text-primary"> Sign In here</a> </p>
          <!-- <p>© {{year}} Artlist.</p> -->
        </div>

      </div> <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end page -->